@model WorkPractice.Models.EmpAllowance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmpAllowance</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AllowanceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowanceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowanceAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowanceAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowanceRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowanceRemarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AllowanceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
